snippet iqdis
	import qualified Data.IntSet as IS
snippet iqdim
	import qualified Data.IntMap as IM
snippet iqds
	import qualified Data.Set as S
snippet iqdm
	import qualified Data.Map as M
snippet lang
	{-# LANGUAGE ${1:ext} #-}
