[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vimfootnotes"]
	path = bundle/vimfootnotes
	url = https://github.com/vim-scripts/VimFootnotes.git
[submodule "bundle/vim-orgmode"]
	path = bundle/vim-orgmode
	url = git://github.com/jceb/vim-orgmode.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/candycode"]
	path = bundle/candycode
	url = https://github.com/vim-scripts/candycode.vim.git
