[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vimfootnotes"]
	path = bundle/vimfootnotes
	url = https://github.com/vim-scripts/VimFootnotes.git
[submodule "bundle/vim-orgmode"]
	path = bundle/vim-orgmode
	url = git://github.com/jceb/vim-orgmode.git
